#header {
    position: relative;
}

#header-text {
    font-size: 50px;
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    color: white;
}

#back-button {
    background: #FFB07C;
    border-color: transparent;
    color: black;
    position: absolute;
    top: 5%;
}

#body {
    margin-top: -0.5%;
}