#header {
  position: relative;
}

#header-text {
  font-size: 50px;
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
  color: white;
}

#back-button {
  background: #FFB07C;
  border-color: transparent;
  color: black;
  position: absolute;
  top: 5%;
}

#body {
  margin-top: -0.5%;
}


.btn-block {
  padding-bottom: 1%;
  padding-top: 1%;
  font-size: 300%;
}

#confirmButton {
  font-size:200%;
  position:relative;
  display:inline-block;
  margin-top: 1%;
  margin-bottom: 1%;
}

#cancelButton {
  font-size: 200%;
  position:relative;
  display:inline-block;
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
}

